// Google fonts import-------------------------------
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:wght@100;200;300;400;500&family=Smooch&display=swap');


// root variables-------------------------------------

:root {
    --oncoblue:#39c1eb;
    --oncogray:gray;
    --black:#111;
    --space-blue: #1d2951;
    --white: #fff;
    --powderblue: #b0dfe5;
    --light-color: #666;
    --light-bg: #eee;
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    --border: .1rem solid rgba(0,0,0,.3);
}

// Global reset of styles------------------------------

* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;

    &::after,
    &::before {
        box-sizing: inherit;
    }
}

// Mixins -----------------------------------------------

@mixin grid($val) { 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 2rem;
}

@mixin titleText($titleSize) {
    font-size: $titleSize;
    color: var(--space-blue);
    text-transform: uppercase;
}

@mixin paragraphText($paragraphTextSize) {
    font-size: $paragraphTextSize;
    color: var(--light-color);
    line-height: 2;
}

@mixin iconsBox() {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    background: var(--powderblue);
    color: var(--space-blue);
    text-align: center;
    cursor: pointer;

    &:hover {
        background: var(--space-blue);
        color: var(--powderblue);
    }
    
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 70%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
    text-transform: capitalize;

    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--oncoblue);
    }
}

section {
    padding: 5rem 10%;
}

.heading {
    margin-bottom: 3rem;
    @include titleText(3rem);
    padding-left: 1rem;
    border-left: 1rem solid var(--oncoblue);
}


.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: var(--space-blue);
    color: var(--white);
    cursor: pointer;
    font-size: 1.7rem;
    text-transform: capitalize;

    &:hover {
        background: var(--oncoblue);
        color: var(--space-blue);
    }
}



// ===================================================================

// header style--------------------------------------

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: var(--box-shadow);
    padding: 1.5rem 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--white);
    z-index: 1000;

    .logo {

        display: flex;
        justify-content: space-between;
        align-items: center;
        
        img {
            height: 4rem;
            padding-right: 1rem
        }

        span {
            @include titleText(2.5rem);
            font-weight: 400;
            font-family: 'Open Sans', sans-serif;

            

            &.onco {
                color: var(--oncoblue);
                padding-left: 1rem;
                border-left: .1rem solid gray;
            }

            &.solutions {
                color: var(--oncogray);
            }
            
        }

    }

    .navbar {
        a {
            @include titleText(1.5rem);
            margin: 0 1rem;
            font-weight: 500;

            &.active {
                color: var(--oncoblue);
                padding-left: 1rem;
                border-left: 1rem solid var(--oncoblue);
            }

            &:hover {
                color: var(--oncoblue);
                padding-left: 1rem;
                border-left: 1rem solid var(--oncoblue);
            }
        }
    }

    .icons {
        div {
            @include iconsBox()

        }
    }

    #menu-btn {
        display: none;
    }

    // Contact info-------------------------------

    .contact-info {
        position: fixed;
        top: 0;
        right: 0;
        width: 35rem;
        background: var(--white);
        height: 100%;
        text-align: center;
        padding: 5rem 2rem 0;
        z-index: 1100;
        display: none;

        &.active {
            box-shadow: 0 0 0 100vw rgba(0, 0, 0, .7);
            display: block;
        }

        #close-contact-info {
            position: absolute;
            top: 1rem;
            right: 1.5rem;
            cursor: pointer;
            font-size: 3rem;
            color: var(--space-blue);

            &:hover {
                transform: rotate(120deg);
            }
        }

        .info {
            padding: 2rem 0;

            i {
                @include iconsBox();
                margin-bottom: .5rem;
            }

            h3 {
                @include titleText(2rem);
                padding:  1rem 0;
            }

            p {
                @include paragraphText(1.5rem);
            }
        }

        .share {
            padding-top: 2rem;
            border-top: var(--border);
            margin-top: 1rem;

            a {
                @include iconsBox();
                margin: 0 .3rem;
            }
        }
    }

}

// Home section starts here--------------------------

.home {
    padding: 0;

    .slide {
        min-height: 6rem;
        display: flex;
        align-items: center;
        position: relative;
        background-size: cover !important;
        background-position: center !important;
        

        .content {
            width: 50rem;
            position: relative;

            h3 {
                @include titleText(5rem);
                text-transform: uppercase;
            }

            p {
                @include paragraphText(1.8rem);
                padding: 1rem 0;
            }
        }
    }
}

// About section--------------------------

.about {
    

    .row {
       display: flex; 
       align-items: center;
       flex-wrap: wrap;
       gap: 3rem;

       .video {
           flex: 1 1 41rem;

           img {
               width: 100%;
           }
       }

       .content {
           flex: 1 1 41rem;

           h3 {
               @include titleText(3rem)
           }

           p {
               @include paragraphText(1.5rem);
               padding: 1rem 0;
           }
       }
    }
}


// products section -------------------------------

.cat-container {
    @include grid(30rem);
    margin-bottom: 2rem;
    
    .banner {
        display: flex;
        align-items: center;
        padding: 1rem;
        border: var(--border);
        gap: 3rem;

        .cat-image {
            width: 70%;

            img {
                width: 100%;
            }
        }
        
        .content {
            

            h3 {
                @include titleText(2rem);
            }

            p {
                @include paragraphText(1.7rem);
            }
        }
    }
}

// Services section-------------------

.services-wrapper {
    @include grid(35rem);

    // >div:nth-child(1) {
    //     background: #39c1eb;
    // }
    // >div:nth-child(2) {
    //     background: #25d468;
    // }
    // >div:nth-child(3) {
    //     background: #e42a96;
    // }

    .service-box {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        text-align: center;
        background-color: var(--powderblue);

        &:hover {
            color: var(--powderblue);
            background-color: var(--space-blue);

            h3 {
                color: var(--oncoblue);
            }
        }

        .icon {
            font-size: xxx-large;
            color: #eee;
        }

        h3 {
            @include titleText(1.7rem);
        }

        p {
            @include paragraphText(1.4rem);
        }
        
    }
}

// our projects -----------------------------

.projects{

    .projects-wrapper {
        @include grid(35rem);
        gap: 2rem;
        margin-bottom: 2rem;

        .project-box {
            
            &:hover {
                transform: scale(1.03);
            }

            img {
                max-width: 100%;
                max-height: auto;
                display: block;
                
            }

            .text {
            
                h3 {
                    @include titleText(1.5rem);
                    margin-top: 2rem;
                }

                .place {
                    @include paragraphText(1.5rem);
                }

                p {
                    @include paragraphText(1.1rem)
                }    

            }
        }
        
    }

    .btn {
        display: block;
        text-align: center;
    }

}

// Footer section--------------------

.footer {
    background: var(--oncoblue);
    .slogan {
        text-align: center;
        font-family: 'Smooch', cursive;
        padding: 2rem 0;
        font-size: 3rem;
        color: var(--white)
        
    }

    .footer-wrapper {
        @include grid(20rem);

        .col {
            display: flex;
            flex-direction: column;
            @include paragraphText(1.5rem);
            
            a {
                color: var(--space-blue);
                    &:hover {
                    @include paragraphText(1.3rem);
                    color: var(--white);
                }

            }
        }
    }

}

.footer-year {
    font-size: 1.3rem;
    color: var(--white);
    text-align: center;
    padding-top: 2rem;
    background: var(--space-blue);
}

// other pages==========================================
// our projects page----------

.page-header {
    
    .header-row {
        @include grid(30rem);
        align-items: center;
        
        .header-image {
             display: flex;
            //  flex-wrap: wrap;

        }

        .header-content {
            background:var(--powderblue);
            padding: 2rem;

            h3 {
                @include titleText(3rem);
            }

            p {
                @include paragraphText(1.3rem);

                &.tag {
                    @include paragraphText(1.6rem);
                }
            }
        }
    }


}

// ****************************************************************************************************************
// Products pages---------------------------------------------------------------------
// Led Drivers & Power Supplies-----------------------------------

.category-intro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    .info-text {
        border-right: 1px solid var(--oncoblue);
        

        .category-header {
            @include titleText(3rem);
            padding-left: 1rem;
            border-left: 1rem solid var(--oncoblue);
        }

        .category-tag {
            @include paragraphText(1.5rem);
            padding-left: 1rem;
            border-left: 1rem solid var(--oncoblue);
            text-transform: uppercase;
            letter-spacing: 0.38rem;
        }
        .category-tag-alu-profiles {
            @include paragraphText(1.5rem);
            padding-left: 1rem;
            border-left: 1rem solid var(--oncoblue);
            text-transform: uppercase;
            letter-spacing: 0.33rem;
        }
        .category-tag-services {
            @include paragraphText(1.5rem);
            padding-left: 1rem;
            border-left: 1rem solid var(--oncoblue);
            text-transform: uppercase;
            letter-spacing: 0.24rem;
        }
        .category-tag-dmx {
            @include paragraphText(1.5rem);
            padding-left: 1rem;
            border-left: 1rem solid var(--oncoblue);
            text-transform: uppercase;
            letter-spacing: 0.31rem;
        }
        .category-tag-emergency {
            @include paragraphText(1.5rem);
            padding-left: 1rem;
            border-left: 1rem solid var(--oncoblue);
            text-transform: uppercase;
            letter-spacing: 0.57rem;
        }

        .category-text {
            @include paragraphText(1.4rem);
            text-align: justify;
            padding-left: 2rem;
            padding-top: 3rem;
            max-width: 80%;
        }
    }

    .info-image {
        display: grid; 
        background-image:url(/images/misc-design/lines-2-600.png);
        background-repeat: no-repeat;
        background-position: center;
        align-self: center;
        
     

        img {
            max-width: 50%;
            justify-self: center;
            
     
        }
    }

}

// ----------Start of products styles--------------

.product {

    .product-name {
        @include titleText(2rem);
            padding-left: 1rem;
            border-left: 1rem solid var(--oncoblue);
            background-color: var(--powderblue);
    }

    .product-info {
        display: grid;
        align-items: center;
        padding-top: 2rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
                "product-table product-images";

                
        .product-table-wrap {
            display: grid;
            align-items: center;
            grid-template-columns: 1fr;
            grid-template-areas: 
                "product-table"
                "product-feature-list";


            .product-table {
                grid-area: product-table;
                table-layout: fixed;
                width: 80%;
                max-height: 40%;
                border-collapse: collapse;
                margin-left: 2rem;
                color: var(--space-blue);


                thead th:nth-child(1) {
                    width: 10%;
                    text-align: end;
                }
                thead th:nth-child(2) {
                    width: 10%;
                    text-align: end;
                }
                thead th:nth-child(3) {
                    width: 10%;
                    text-align: end;
                }
                thead th:nth-child(4) {
                    width: 10%;
                    text-align: end;
                }
                thead th:nth-child(5) {
                    width: 10%;
                    text-align: end;
                }
                th, td {
                    text-align: end;
                }
                tbody {
                    tr:nth-child(even) {
                        background-color: rgb(240, 239, 239);
                    }
                }
            }

            .product-feature-list {
                text-align: end;
                padding: 3rem 0 2rem 0rem;
                @include paragraphText(1.2rem);
                list-style: none;
                grid-area: product-feature-list;
                width: 83%;

                h4 {
                    color: var(--space-blue);
                }

            
                
                li::before {
                    content: "\274B";
                    color: var(--oncoblue);
                    font-weight: normal;
                    // display: inline-block;
                    width: 0.5rem;
                    padding-right: 1rem;

                }
                
                
            }


        }

        .product-images {
            grid-area: product-images;
            display: grid;
            justify-items: center;
            // border: 2px solid var(--oncoblue);
            grid-template-columns: repeat(2, 1fr);
            

            .img-1 {
                border-bottom: 0.5px solid var(--oncoblue);
                border-right: 0.5px  solid var(--oncoblue);
                text-align: center;
                
                img {
                    width:80%;
                    // border: 2px solid var(--oncoblue);
                }                
            }
            .img-1-single {
                text-align: center;
                grid-column: 1 / 3;
                grid-row: 1 / 2;
                
                img {
                    width: 80%;

                    // border: 2px solid var(--oncoblue);
                }                
            }
            .img-1-double {
                border-right: 0.5px  solid var(--oncoblue);
                text-align: center;
                grid-row: 1 / 2;
                
                img {
                    width:80%;
                    // border: 2px solid var(--oncoblue);
                }                
            }
            .img-2 {
                text-align: center;
                
                img {
                    width: 80%;
                    // border: 2px solid var(--oncoblue);
                }                
            }
            .img-3 {
                text-align: center;
                
                img {
                    width: 80%;
                    // border: 2px solid var(--oncoblue);
                }                
            }
            .img-4 {
                border-left: 0.5px solid var(--oncoblue);
                border-top: 0.5px solid var(--oncoblue);
                text-align: center;
                
                img {
                    width: 80%;
                    // border: 2px solid var(--oncoblue);
                }                
            }
        }
    }

}
// Pictogram Section-------------------------------------------------------------------------
.pictogram{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas: 
            "pictogram-text pictogram-img";
    align-items: center;
    
    .pictogram-text {
        grid-area: pictogram-text;
        
        h3 {
            @include titleText(1.9rem);
        }
    }

    .pictogram-img {
        grid-area: pictogram-img;
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        gap: 1rem;
        align-content: center;

        img {
            width: 100%;
        }
        p {
            text-align: end;
            @include paragraphText(.8rem);
            text-align: justify;
        }
    }
}

// ----------End of products styles  --------------


// Start of services page-------------------------------------

.service-type {

    .service-name {
            @include titleText(2rem);
            padding-left: 1rem;
            border-left: 1rem solid var(--oncoblue);
            background-color: var(--powderblue);
    }
}



// End of services page-------------------------------------


.service-categories {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "category-one category-two category-three";

    .category-one {
        display: flex;
        align-items: center;
        grid-area: category-one;
        

        .icon {
            background-color: var(--space-blue);
            text-align: center; 
            margin: 10% 2%;
            padding: 4% 5%;
            border-radius: 20%;
            
            span {
                font-size: 4rem;
                color: var(--oncoblue);
            }

            h4 {
                font-size: 1.5rem;
                color: var(--powderblue);
            }
        }
    }
    .category-two {
        display: flex;
        align-items: center;
        grid-area: category-two;
        

        .icon {
            background-color: var(--space-blue);
            text-align: center;  
            margin: 10% 2%;
            padding: 4% 4%;
            border-radius: 20%;
            
            span {
                font-size: 4rem;
                color: var(--oncoblue);
            }

            h4 {
                font-size: 1.5rem;
                color: var(--powderblue);
            }
        }
    }
    .category-three {
        display: flex;
        align-items: center;
        grid-area: category-three;
        

        .icon {
            background-color: var(--space-blue);
            text-align: center;  
            margin: 10% 2%;
            padding: 4% 4%;
            border-radius: 20%;
            
            span {
                font-size: 4rem;
                color: var(--oncoblue);
            }

            h4 {
                font-size: 1.5rem;
                color: var(--powderblue);
            }
        }
    }

    .service-category-text {
        font-size: 1.3rem;
        color: var(--space-blue);
        // width: 80%;
        margin: 10% 5%;
        padding: 2%;
        text-align: justify;
    }
}































// ############################################################################################################
//================= media querries for small screen sizes ==================

//Screen size up to 1440px----------------
@media (max-width:1440px) {

    html {
        font-size: 65%;
    }
    section {
        padding: 2rem 10%;
    }

    .pictogram {
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-areas: 
            "pictogram-text pictogram-img";
        align-items: center;

        .pictogram-text {
            grid-area: pictogram-text;
            
            h3 {
                @include titleText(1.3rem);
            }
        }
    }

    .footer {
        .footer-wrapper {
                @include grid(15%);

                .col {
                    display: flex;
                    flex-direction: column;
                    @include paragraphText(1.2rem);
                    
                    a {
                        color: var(--space-blue);
                            &:hover {
                            @include paragraphText(1.3rem);
                            color: var(--white);
                        }

                    }
                }
            }
    }

    // Services-------------------------------------------
    .service-categories {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "category-one category-two category-three";
    
        .category-one {
            display: flex;
            align-items: center;
            grid-area: category-one;
            
    
            .icon {
                background-color: var(--space-blue);
                text-align: center;  
                margin: 10% 2%;
                padding: 4% 5%;
                border-radius: 20%;
                
                span {
                    font-size: 4rem;
                    color: var(--oncoblue);
                }
    
                h4 {
                    font-size: 1.5rem;
                    color: var(--powderblue);
                }
            }
        }
        .category-two {
            display: flex;
            align-items: center;
            grid-area: category-two;
            
    
            .icon {
                background-color: var(--space-blue);
                text-align: center;  
                margin: 10% 2%;
                padding: 4% 4%;
                border-radius: 20%;
                
                span {
                    font-size: 4rem;
                    color: var(--oncoblue);
                }
    
                h4 {
                    font-size: 1.5rem;
                    color: var(--powderblue);
                }
            }
        }
        .category-three {
            display: flex;
            align-items: center;
            grid-area: category-three;
            
    
            .icon {
                background-color: var(--space-blue);
                text-align: center;  
                margin: 10% 2%;
                padding: 4% 4%;
                border-radius: 20%;
                
                span {
                    font-size: 4rem;
                    color: var(--oncoblue);
                }
    
                h4 {
                    font-size: 1.5rem;
                    color: var(--powderblue);
                }
            }
        }
    
        .service-category-text {
            font-size: 1.3rem;
            color: var(--space-blue);
            // width: 80%;
            margin: 10% 5%;
            padding: 2%;
            text-align: justify;
        }
    }

}

// #############################################################################################################
// screen size up to 1024px---------------

@media (max-width: 1024px) {

    html {
        font-size: 60%;
    }

    section {
        padding: 2rem 10%;
    }

    .header {
        .logo {

            img {
                height: 3rem;
            }

            span {
                @include titleText(2rem);
            }
        }
        .navbar {
             
            a {
                @include titleText(1.2rem);
            }
        }
    }

    .footer {
        .footer-wrapper {
                @include grid(30%);

                .col {
                    display: flex;
                    flex-direction: column;
                    @include paragraphText(1.5rem);
                    
                    a {
                        color: var(--space-blue);
                            &:hover {
                            @include paragraphText(1.3rem);
                            color: var(--white);
                        }

                    }
                }
            }
    }


    .cat-container {
        @include grid(25rem);
        margin-bottom: 2rem;
    
        .banner {
            display: flex;
            align-items: center;
            padding: 1rem;
            border: var(--border);
            gap: 3rem;
    
            .cat-image {
                width: 70%;
    
                img {
                    width: 100%;
                }
            }
            
            .content {
                
    
                h3 {
                    @include titleText(1.4rem);
                }
    
                p {
                    @include paragraphText(1.2rem);
                }
            }
        }
    }

    // Products pages---------------------------------------------------------------------
    // Led Drivers & Power Supplies-----------------------------------

    .category-intro {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;

        .info-text {
            border-right: 1px solid var(--oncoblue);
            

            .category-header {
                @include titleText(2.8rem);
                padding-left: 1rem;
                border-left: 1rem solid var(--oncoblue);
            }

            .category-tag {
                @include paragraphText(1.35rem);
                padding-left: 1rem;
                border-left: 1rem solid var(--oncoblue);
                text-transform: uppercase;
                letter-spacing: 0.38rem;
            }

            .category-tag-alu-profiles {
                @include paragraphText(1.5rem);
                padding-left: 1rem;
                border-left: 1rem solid var(--oncoblue);
                text-transform: uppercase;
                letter-spacing: 0.25rem;
            }
            .category-tag-dmx {
                @include paragraphText(1.5rem);
                padding-left: 1rem;
                border-left: 1rem solid var(--oncoblue);
                text-transform: uppercase;
                letter-spacing: 0.24rem;
            }
            .category-tag-emergency {
                @include paragraphText(1.5rem);
                padding-left: 1rem;
                border-left: 1rem solid var(--oncoblue);
                text-transform: uppercase;
                letter-spacing: 0.48rem;
            }

            .category-text {
                @include paragraphText(1.3rem);
                text-align: justify;
                padding-left: 2rem;
                padding-top: 2rem;
                max-width: 90%;
            }
        }

        .info-image {
            display: grid; 
            background-image:url(/images/misc-design/lines-2-600.png);
            background-repeat: no-repeat;
            background-position: center;
            align-self: center;
            
        

            img {
                max-width: 70%;
                justify-self: center;
                
        
            }
        }

    }

    // ----------Start of products styles--------------

    .product {

        // .product-name {
        //     @include titleText(2rem);
        //         padding-left: 1rem;
        //         border-left: 1rem solid var(--oncoblue);
        // }

        .product-info {
            display: grid;
            align-items: center;
            padding-top: 2rem;
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: 
                    "product-table product-images";

                    
            .product-table-wrap {
                display: grid;
                align-items: center;
                grid-template-columns: 1fr;
                grid-template-areas: 
                    "product-table"
                    "product-feature-list";


                .product-table {
                    grid-area: product-table;
                    table-layout: fixed;
                    width: 90%;
                    max-height: 50%;
                    border-collapse: collapse;
                    margin-left: 2rem;


                    thead th:nth-child(1) {
                        width: 15%;
                        text-align: end;
                    }
                    thead th:nth-child(2) {
                        width: 10%;
                        text-align: end;
                    }
                    thead th:nth-child(3) {
                        width: 10%;
                        text-align: end;
                    }
                    thead th:nth-child(4) {
                        width: 10%;
                        text-align: end;
                    }
                    thead th:nth-child(5) {
                        width: 10%;
                        text-align: end;
                    }
                    th, td {
                        text-align: end;
                    }
                    tbody {
                        tr:nth-child(even) {
                            background-color: rgb(240, 239, 239);
                        }
                    }
                }

                .product-feature-list {
                    text-align: end;
                    padding: 3rem 0 2rem 0rem;
                    list-style: none;
                    grid-area: product-feature-list;
                    width: 93%;

                    h4 {
                        color: var(--space-blue);
                    }

                
                    
                    li::before {
                        content: "\274B";
                        color: var(--oncoblue);
                        font-weight: normal;
                        // display: inline-block;
                        width: 0.5rem;
                        padding-right: 1rem;

                    }
                    
                    
                }


            }

            .product-images {
                grid-area: product-images;
                display: grid;
                justify-items: center;
                grid-template-columns: repeat(2, 1fr);
                

                .img-1 {
                    border-bottom: 0.5px solid var(--oncoblue);
                    border-right: 0.5px  solid var(--oncoblue);
                    text-align: center;
                    
                    img {
                        width: 80%;
                        
                        // border: 2px solid var(--oncoblue);
                    }                
                }

                .img-1-single {
                    text-align: center;
                    grid-column: 1 / 3;
                    grid-row: 1 / 2;
                    
                    img {
                        width: 80%;
    
                        // border: 2px solid var(--oncoblue);
                    }                
                }
                .img-1-double {
                    border-right: 0.5px  solid var(--oncoblue);
                    text-align: center;
                    
                    img {
                        width:80%;
                        
                        // border: 2px solid var(--oncoblue);
                    }                
                }
                .img-2 {
                    text-align: center;
                    
                    img {
                        width: 80%;
                        
                        // border: 2px solid var(--oncoblue);
                    }                
                }
                .img-3 {
                    text-align: center;
                    
                    img {
                        width: 80%;
                        // border: 2px solid var(--oncoblue);
                    }                
                }
                .img-4 {
                    border-left: 0.5px solid var(--oncoblue);
                    border-top: 0.5px solid var(--oncoblue);
                    text-align: center;
                    
                    img {
                        width: 80%;
                        // border: 2px solid var(--oncoblue);
                    }                
                }
            }
        }
    }

    .pictogram {
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-areas: 
            "pictogram-text pictogram-img";
        align-items: center;

        .pictogram-text {
            grid-area: pictogram-text;
            
            h3 {
                @include titleText(1.1rem);
            }
        }
    }

    // ----------End of products styles  --------------

    // Services-------------------------------------

    .service-categories {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "category-one category-two category-three";
    
        .category-one {
            display: flex;
            flex-direction: column;
            align-items: center;
            grid-area: category-one;
            
    
            .icon {
                background-color: var(--space-blue);
                text-align: center;  
                margin: 10% 2% 3% 2%;
                padding: 4% 5%;
                border-radius: 20%;
                
                span {
                    font-size: 4rem;
                    color: var(--oncoblue);
                }
    
                h4 {
                    font-size: 1.5rem;
                    color: var(--powderblue);
                }
            }
        }
        .category-two {
            display: flex;
            flex-direction: column;
            align-items: center;
            grid-area: category-two;
            
    
            .icon {
                background-color: var(--space-blue);
                text-align: center;  
                margin: 10% 2% 3% 2%;
                padding: 4% 5%;
                border-radius: 20%;
                
                span {
                    font-size: 4rem;
                    color: var(--oncoblue);
                }
    
                h4 {
                    font-size: 1.5rem;
                    color: var(--powderblue);
                }
            }
        }
        .category-three {
            display: flex;
            flex-direction: column;
            align-items: center;
            grid-area: category-three;
            
    
            .icon {
                background-color: var(--space-blue);
                text-align: center;  
                margin: 10% 2% 3% 2%;
                padding: 4% 5%;
                border-radius: 20%;
                
                span {
                    font-size: 4rem;
                    color: var(--oncoblue);
                }
    
                h4 {
                    font-size: 1.5rem;
                    color: var(--powderblue);
                }
            }
        }
    
        .service-category-text {
            font-size: 1.5rem;
            color: var(--space-blue);
            // width: 80%;
            margin: 10% 5%;
            padding: 2%;
            text-align: justify;
        }
    }
}

// #################################################################################################
// screen size up to 768px----------------

@media (max-width: 768px) {

    html {
        font-size: 55%;
    }
    section {
        padding: 3rem 10%;
    }

    .header {

        #menu-btn {
            display: inline-block;
        }

        .navbar {
            position: absolute;
            top: 99%;
            left: 0;
            right: 0;
            background: var(--white);
            border-top: var(--border);
            border-bottom: var(--border);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

            &.active {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }

            a {
                display: block;
                margin: 2rem;
                
                &:hover {
                    border-bottom: 1px solid var(--oncoblue);
                }
            }
            
        }
    }

    .cat-container {
        @include grid(40rem);
        margin-bottom: 2rem;
    
        .banner {
            display: flex;
            align-items: center;
            padding: 1rem;
            border: var(--border);
            gap: 3rem;
    
            .cat-image {
                width: 70%;
    
                img {
                    width: 100%;
                }
            }
            
            .content {
                
    
                h3 {
                    @include titleText(2rem);
                }
    
                p {
                    @include paragraphText(1.7rem);
                }
            }
        }
    }

    // Products pages---------------------------------------------------------------------
    // Led Drivers & Power Supplies-----------------------------------

    .category-intro {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        grid-template-areas: 
            "info-image"
            "info-text";

        .info-text {
            grid-area: info-text;
            border-right: 1px solid var(--oncoblue);
            background-color: rgb(247, 243, 243);
            

            .category-header {
                @include titleText(3rem);
                padding-left: 1rem;
                border-left: 1rem solid var(--oncoblue);
            }

            .category-tag {
                @include paragraphText(1.5rem);
                padding-left: 1rem;
                border-left: 1rem solid var(--oncoblue);
                text-transform: uppercase;
                letter-spacing: 0.38rem;
            }
            .category-tag-alu-profiles {
                @include paragraphText(1.5rem);
                padding-left: 1rem;
                border-left: 1rem solid var(--oncoblue);
                text-transform: uppercase;
                letter-spacing: 0.33rem;
            }
            .category-tag-emergency {
                @include paragraphText(1.5rem);
                padding-left: 1rem;
                border-left: 1rem solid var(--oncoblue);
                text-transform: uppercase;
                letter-spacing: 0.57rem;
            }

            .category-text {
                @include paragraphText(1.4rem);
                text-align: justify;
                padding-left: 2rem;
                padding-top: 2rem;
                max-width: 80%;
            }
        }

        .info-image {
            grid-area: info-image;
            display: grid; 
            background-image:url(/images/misc-design/lines-2-600.png);
            background-repeat: no-repeat;
            background-position: center;
            align-self: center;
            
        

            img {
                max-width: 50%;
                justify-self: center;
                
        
            }
        }

    }
    // ----------Start of products styles--------------

    .product {

        .product-name {
            @include titleText(2rem);
                padding-left: 1rem;
                border-left: 1rem solid var(--oncoblue);
        }

        .product-info {
            display: grid;
            align-items: center;
            padding-top: 2rem;
            grid-template-columns: 1fr;
            grid-template-areas: 
                    "product-table"
                    "product-images";

                    
            .product-table-wrap {
                display: grid;
                align-items: center;
                grid-template-columns: 1fr;
                grid-template-areas: 
                    "product-table"
                    "product-feature-list";


                .product-table {
                    grid-area: product-table;
                    table-layout: fixed;
                    width: 90%;
                    max-height: 40%;
                    border-collapse: collapse;
                    margin-left: 2rem;


                    thead th:nth-child(1) {
                        width: 10%;
                        text-align: start;
                    }
                    thead th:nth-child(2) {
                        width: 10%;
                        text-align: start;
                    }
                    thead th:nth-child(3) {
                        width: 10%;
                        text-align: start;
                    }
                    thead th:nth-child(4) {
                        width: 10%;
                        text-align: start;
                    }
                    thead th:nth-child(5) {
                        width: 10%;
                        text-align: start;
                    }
                    th, td {
                        text-align: start;
                    }
                    tbody {
                        tr:nth-child(even) {
                            background-color: rgb(240, 239, 239);
                        }
                    }
                }

                .product-feature-list {
                    text-align: start;
                    padding: 3rem 0 2rem 2rem;
                    // list-style-position: inside;
                    list-style: none;
                    grid-area: product-feature-list;
                    width: 83%;

                    h4 {
                        color: var(--space-blue);
                    }

                
                    
                    li::before {
                        content: "\274B";
                        color: var(--oncoblue);
                        font-weight: normal;
                        // display: inline-block;
                        width: 0.5rem;
                        padding-right: 1rem;

                    }
                    
                    
                }


            }

            .product-images {
                grid-area: product-images;
                display: grid;
                justify-items: center;
                // border: 2px solid var(--oncoblue);
                grid-template-columns: repeat(2, 1fr);
                

                .img-1 {
                    border-bottom: 0.5px solid var(--oncoblue);
                    border-right: 0.5px  solid var(--oncoblue);
                    text-align: center;
                    
                    img {
                        width: 60%;
                        // border: 2px solid var(--oncoblue);
                    }                
                }
                
                .img-1-double {
                    border-right: 0.5px  solid var(--oncoblue);
                    text-align: center;
                    
                    img {
                        width:60%;
                        // border: 2px solid var(--oncoblue);
                    }                
                }
                .img-2 {
                    text-align: center;
                    
                    img {
                        width: 60%;
                        // border: 2px solid var(--oncoblue);
                    }                
                }
                .img-3 {
                    text-align: center;
                    
                    img {
                        width: 60%;
                        // border: 2px solid var(--oncoblue);
                    }                
                }
                .img-4 {
                    border-left: 0.5px solid var(--oncoblue);
                    border-top: 0.5px solid var(--oncoblue);
                    text-align: center;
                    
                    img {
                        width: 60%;
                        // border: 2px solid var(--oncoblue);
                    }                
                }
            }
        }
    }

    .pictogram{
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: 
                "pictogram-text"
                 "pictogram-img";
        align-items: center;
        
        .pictogram-text {
            grid-area: pictogram-text;
            h3 {
            @include titleText(1.2rem);
            }
            @include paragraphText(1.2rem)
        }
    
        .pictogram-img {
            grid-area: pictogram-img;
            display: grid;
            grid-template-columns: repeat(11, 1fr);
            gap: 1rem;
    
            img {
                width: 100%;
            }
            p {
                text-align: end;
                @include paragraphText(.8rem);
            }
        }
    }

// ----------End of products styles  --------------

// LED light fixtures---------------------------------------------

// Services-------------------------------------

.service-categories {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "category-one" 
                            "category-two" 
                            "category-three";

    .category-one {
        display: flex;
        align-items: center;
        grid-area: category-one;
        

        .icon {
            background-color: var(--space-blue);
            text-align: center;  
            margin: 2% 2%;
            padding: 4% 5%;
            border-radius: 20%;
            
            span {
                font-size: 4rem;
                color: var(--oncoblue);
            }

            h4 {
                font-size: 1.5rem;
                color: var(--powderblue);
            }
        }
        .service-category-text {
            font-size: 1.5rem;
            color: var(--space-blue);
            margin: 0% 5%;
            padding: 2%;
            text-align: justify;
        }
    }
    .category-two {
        display: flex;
        align-items: center;
        grid-area: category-two;
        background-color: var(--light-bg);
        

        .icon {
            background-color: var(--space-blue);
            text-align: center;  
            margin: 2% 2%;
            padding: 4% 4%;
            border-radius: 20%;
            
            span {
                font-size: 4rem;
                color: var(--oncoblue);
            }

            h4 {
                font-size: 1.5rem;
                color: var(--powderblue);
            }
        }

        .service-category-text {
            font-size: 1.5rem;
            color: var(--space-blue);
            margin: 0% 5%;
            padding: 2%;
            text-align: justify;
        }
    }
    .category-three {
        display: flex;
        align-items: center;
        grid-area: category-three;
        

        .icon {
            background-color: var(--space-blue);
            text-align: center;  
            margin: 2% 2%;
            padding: 4% 4%;
            border-radius: 20%;
            
            span {
                font-size: 4rem;
                color: var(--oncoblue);
            }

            h4 {
                font-size: 1.5rem;
                color: var(--powderblue);
            }
        }
        .service-category-text {
            font-size: 1.5rem;
            color: var(--space-blue);
            margin: 0% 5%;
            padding: 2%;
            text-align: justify;
        }
    }

    
}

}


// ############################################----------450-----------############################################
// screen size up to 450px----------------

@media (max-width: 450px) {

    html {
        font-size: 50%;
    }

    section {
        padding: 2rem 10%;
    }

    .footer {
        .footer-wrapper {
                @include grid(30%);

                .col {
                    display: flex;
                    flex-direction: column;
                    @include paragraphText(1.0rem);
                    
                    a {
                        color: var(--space-blue);
                            &:hover {
                            @include paragraphText(1.1rem);
                            color: var(--white);
                        }

                    }
                }
            }
    }

    // Products pages---------------------------------------------------------------------
    // Led Drivers & Power Supplies-----------------------------------

    .category-intro {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        grid-area: 
            "info-image"
            "info-text";

        .info-text {
            border-right: 1px solid var(--oncoblue);
            background-color: rgb(247, 243, 243);
            

            .category-header {
                @include titleText(2.4rem);
                padding-left: 1rem;
                border-left: 1rem solid var(--oncoblue);
            }

            .category-tag {
                @include paragraphText(1.05rem);
                padding-left: 1rem;
                border-left: 1rem solid var(--oncoblue);
                text-transform: uppercase;
                letter-spacing: 0.38rem;
            }
            .category-tag-alu-profiles {
                @include paragraphText(1.5rem);
                padding-left: 1rem;
                border-left: 1rem solid var(--oncoblue);
                text-transform: uppercase;
                letter-spacing: 0.09rem;
            }
            .category-tag-dmx {
                @include paragraphText(1.5rem);
                padding-left: 1rem;
                border-left: 1rem solid var(--oncoblue);
                text-transform: uppercase;
                letter-spacing: 0.09rem;
            }
            .category-tag-emergency {
                @include paragraphText(1.5rem);
                padding-left: 1rem;
                border-left: 1rem solid var(--oncoblue);
                text-transform: uppercase;
                letter-spacing: 0.29rem;
            }

            .category-text {
                @include paragraphText(1.4rem);
                text-align: justify;
                padding-left: 2rem;
                padding-top: 1rem;
                max-width: 90%;
            }
        }

        .info-image {
            display: grid; 
            background-image:url(/images/misc-design/lines-2-600.png);
            background-repeat: no-repeat;
            background-position: center;
            align-self: center;
            
        

            img {
                max-width: 70%;
                justify-self: center;
                
        
            }
        }

    }

    // ----------Start of products styles--------------

    .product {

        .product-name {
            @include titleText(1.6rem);
                padding-left: 1rem;
                border-left: 1rem solid var(--oncoblue);
        }

        .product-info {
            display: grid;
            align-items: center;
            padding-top: 2rem;
            grid-template-columns: 1fr;
            grid-template-areas: 
                    "product-images"
                    "product-table";

                    
            .product-table-wrap {
                display: grid;
                align-items: center;
                padding-top: 2rem;
                grid-template-columns: 1fr;
                grid-template-areas: 
                    "product-table"
                    "product-feature-list";


                .product-table {
                    grid-area: product-table;
                    table-layout: fixed;
                    width: 95%;
                    max-height: 40%;
                    border-collapse: collapse;
                    margin-left: 2rem;


                    thead th:nth-child(1) {
                        width: 10%;
                        text-align: start;
                    }
                    thead th:nth-child(2) {
                        width: 10%;
                        text-align: start;
                    }
                    thead th:nth-child(3) {
                        width: 10%;
                        text-align: start;
                    }
                    thead th:nth-child(4) {
                        width: 10%;
                        text-align: start;
                    }
                    thead th:nth-child(5) {
                        width: 10%;
                        text-align: start;
                    }
                    th, td {
                        text-align: start;
                    }
                    tbody {
                        tr:nth-child(even) {
                            background-color: rgb(240, 239, 239);
                        }
                    }
                }

                .product-feature-list {
                    text-align: start;
                    padding: 3rem 0 2rem 2rem;
                    // list-style-position: inside;
                    list-style: none;
                    grid-area: product-feature-list;
                    width: 83%;

                    h4 {
                        color: var(--space-blue);
                    }

                
                    
                    li::before {
                        content: "\274B";
                        color: var(--oncoblue);
                        font-weight: normal;
                        // display: inline-block;
                        width: 0.5rem;
                        padding-right: 1rem;

                    }
                    
                    
                }


            }

            .product-images {
                grid-area: product-images;
                display: grid;
                justify-items: center;
                // border: 2px solid var(--oncoblue);
                grid-template-columns: repeat(2, 1fr);
                

                .img-1 {
                    border-bottom: 0.5px solid var(--oncoblue);
                    border-right: 0.5px  solid var(--oncoblue);
                    text-align: center;
                    
                    img {
                        width: 80%;
                        // border: 2px solid var(--oncoblue);
                    }                
                }
                .img-1-double {
                    border-right: 0.5px  solid var(--oncoblue);
                    text-align: center;
                    
                    img {
                        width:80%;
                        // border: 2px solid var(--oncoblue);
                    }                
                }
                .img-2 {
                    text-align: center;
                    
                    img {
                        width: 80%;
                        // border: 2px solid var(--oncoblue);
                    }                
                }
                .img-3 {
                    text-align: center;
                    
                    img {
                        width: 80%;
                        // border: 2px solid var(--oncoblue);
                    }                
                }
                .img-4 {
                    border-left: 0.5px solid var(--oncoblue);
                    border-top: 0.5px solid var(--oncoblue);
                    text-align: center;
                    
                    img {
                        width: 80%;
                        // border: 2px solid var(--oncoblue);
                    }                
                }
            }
        }
    }

// ----------End of products styles  --------------
}



